.main-form {
  grid-column: 2 / span 3;
  grid-row: 2;
  background-color: #6f38c5;
  color: white;
  border-radius: 0.75em;
  padding: 0.75em;
}

.generated-problems {
  display: grid;
  grid-column: 2 / span 3;
  grid-row: 3;
  grid-template-rows: 50px;
  gap: 0.75em 0.75em;
}

.generated-problems-header {
  grid-column: 1;
  display: flex;
  background-color: #c630d1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 0.75em;
}

@media (min-width: 800px) {
  .generated-problems {
    grid-template-columns: repeat(2, 1fr);
  }
  .generated-problems-header {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1200px) {
  .generated-problems {
    grid-template-columns: repeat(3, 1fr);
  }
  .generated-problems-header {
    grid-column: 1 / span 3;
  }
}

@media (min-width: 1600px) {
  .generated-problems {
    grid-template-columns: repeat(4, 1fr);
  }
  .generated-problems-header {
    grid-column: 1 / span 4;
  }
}

.form-div-50 {
  width: 50%;
}

.generate-button {
  background-color: #87a2fb;
  color: white;
}

.generated-problem {
  background-color: white;
  padding: 0.75em;
  display: inline-block;
  align-self: start;
  box-sizing: border-box;
  min-width: 20%;
  max-width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
