.login-button {
  border-bottom-right-radius: 1em;
  background-color: #87a2fb;
  color: white;
  padding: 0.5em 1em;
  margin-left: auto;
}

.title {
  position: absolute;
  font-size: 24px;
  align-self: center;
}

.m {
  background-color: #87a2fb;
  color: #6f38c5;
  padding: 0.1em 0.1em;
}
