.problem-set-modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background: #6f38c5;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 1em;
  padding: 2em;
  outline: none;
}

.problem-set-modal-container {
  display: grid;
  grid-template-columns: 1fr;
}

.problems-container {
  background-color: white;
  border-radius: 0.75em;
  padding: 1em;
  overflow: auto;
  display: grid;
  gap: 1em;
  flex-grow: 1;
  color: black;
}

@media (min-width: 800px) {
  .problem-set-modal {
    padding: 2em 4em;
  }
  .problem-set-modal-container {
    grid-template-columns: 1fr 1fr;
  }
  .problems-container {
    grid-template-columns: 1fr 1fr;
  }
}

.problem-set-modal-problem {
  border: 2px solid #ccc;
  border-radius: 0.5em;
  padding: 0.75em;
  box-sizing: border-box;
}
